img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px
}
a{
    font-family: Arial;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    font-family: "Times New Roman";
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.back{
    background-color: rgb(255, 140, 0);
}
.title{
    text-align: center;
}